<div class="container">
  <div class="home-title">
    <h4 class="text-center">Edit currency</h4>
  </div>

     <div class="form-content">
        <%= simple_form_for [@crypto] do |f| %>
          <%= f.input :name, label: "Name", input_html: { id: 'edit-name'} %>
          <%= f.input :price, label: "Price paid", :autofocus => true %>
          <%= f.input :total, label: "Total" %>
          <%= f.submit "Edit", class: "btn btn-success" %>
        <% end %>
    </div>
      <br>
    <div class="btn-back">
      <%= link_to "Back", user_portfolio_cryptos_path, class: "btn btn-info" %>
    </div>
</div>
