<div class="container">
  <h4>CRYPTO CURRENCY MARKET TABLE</h4>
  <table class="table table-striped table-bordered table-hover">
     <thead>
       <td>Crypto</td>
       <td>Ticker</td>
       <td>Price</td>
       <td>% Change</td>
       <td>Volume Last 24h</td>
       <td>Market Cap</td>
       <td></td>
     </thead>
   <% @cryptos.each do |crypto| %>
     <tbody>
      <td><%= crypto['nome']%></td>
      <td><%= crypto['ticker'] %></td>
      <td>$<%= crypto['preco'].to_f.round(4) %></td>
      <td><%= crypto['change'] %>%</td>
      <td>$<%= crypto['volume'].to_f.round(2) %>%</td>
      <td>$<%= crypto['market_cap'].to_f.round(2) %>%</td>
      <td> <%= link_to "Add to portfolio", new_crypto_path %>  </td>
      </tbody>
  <% end %>
  </table>
</div>
