<div class="container">
  <div class="home-title">
    <h4 class="text-center">Add to portfolio</h4>
  </div>
   <div class="form-content">
      <%= simple_form_for [@crypto] do |f| %>
        <%= f.input :name, label: "Name" %>
        <%= f.input :price, label: "Price paid", :autofocus => true %>
        <%= f.input :total, label: "Total" %>
        <%= f.submit "Add", class: "btn btn-success" %>
      <% end %>
  </div>
    <br>
  <div class="btn-back">
    <%= link_to "Back", root_path, class: "btn btn-info" %>
  </div>

</div>
