<div class="container">
  <div class="home-title">
    <h4 class="text-center"> My CryptoCurrency Portfolio </h4>
  </div>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <td> Name </td>
          <td class="text-center"> Price </td>
          <td class="text-center"> Cost </td>
          <td class="text-center"> Total </td>
          <td class="text-center"> Value</td>
          <td class="text-center"> Profit/Loss </td>
          <td colspan="2" ></td>
        </tr>
      </thead>
      <% net_worth = 0 %>
      <% profit_loss = 0 %>
    <% @all_cryptos.each_with_index do |data, index| %>
      <% @cryptos.each do |crypto| %>
        <% if crypto.name == data['nome'] %>
        <tbody>
          <tr data-crypto-id="<%= crypto.id %>">
            <td> <%= crypto.name %> </td>
            <td class="text-center"> <%= number_to_currency(data['preco'], precision: 4) %> </td>
            <td class="text-center"> <%= number_to_currency(crypto.price) %> </td>
            <td class="text-center"> <%= (crypto.total) %> </td>
            <td class="text-center"> <%= number_to_currency(crypto.total * data['preco'].to_f) %> </td>
            <td class="text-center"> <%= number_to_currency( (crypto.total * data['preco'].to_f) - (crypto.total * crypto.price) ) %> </td>
            <td class="x-button"> <%= link_to crypto_path(crypto), method: :delete, remote: true do %> <div class="glyphicon glyphicon-remove" > </div> </td> <% end %>
            <td class="text-center"> <%= link_to "Edit", edit_crypto_path(crypto)%> </td>
          </tr>
        </tbody>
        <p> <% profit_loss += ( (crypto.total * data['preco'].to_f) - (crypto.total * crypto.price)  ) %> </p>
        <p> <% net_worth += (crypto.total * data['preco'].to_f) %> </p>
        <% end %>
      <% end %>
    <% end %>
    </table>
    <div class="panel panel-default">
      <div class="panel-body portfolio-numbers">
        <strong> Net Worth: </strong> <p id="net-worth"> <%= number_to_currency(net_worth) %> </p>
        <strong> Total profit/loss: </strong> <p id="profit-loss"> <%= number_to_currency(profit_loss) %> </p>
      </div>
    </div>
    <div class="btn-home">
      <%= link_to "Back to market table", root_path %>
    </div>
</div>
